body {
    /* color: white; */
    margin: 0;
    padding: 0;
    background: url("https://www.iciciprulife.com/content/icici-prudential-life-insurance/testing/tools-and-calculators/bmi_assets/images/calcBG.svg") repeat-y;

    background-size: cover;
    /* background-color: beige; */
    /* background-color: rgb(245, 233, 219); */
    font-family: "Baloo Bhaijaan 2", sans-serif;
    /* display: flex;
    flex-direction: column; */
    box-sizing: border-box;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: -13px;
    left: 18px;
}

.left img {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 113px;
}

.left div {
    text-align: center;
    position: relative;
    bottom: -39px;
    right: -120px;
    display: inline-block;
    font-size: 27px;
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.left a {
    color: black;
    text-decoration: none;
}

.center {
    /* border: 2px solid blue; */
    display: block;
    width: 43%;
    margin: 30px auto;

}

.right {
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 20px
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 26px;
    font-weight: 300;
}

.navbar li a:hover {
    /* text-decoration-line: underline; */
    color: #ae2b30;
    font-weight: 450;
}

.navbar li a.active {
    color: #ae2b30;
    font-weight: 450;
    text-decoration-line: underline;

}

.btn {
    color: black;
    border: none;
    padding: 6px;
    cursor: pointer;
}

#sign {
    background-color: transparent;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

#sign:hover {
    color: #ae2b30;
    font-weight: 500;
}

.right img {
    height: 23px;
    position: relative;
    left: 8px;
    top: 7px;
    cursor: pointer;
    filter: invert();
}

.meet{
    font-family: "Afacad Flux", sans-serif;
    text-align: center;
    font-size: 30px;
    /* border: 2px solid; */
    margin-top: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 31px;
}

.card_common{
    border: 1px solid #ae2b30;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background-color: #f9d3bb;
}

.pfp{
    margin: 1px auto;
    /* border: 1px solid; */
    text-align: center;
    padding-top: 26px;
}
.pfp img{
    border: 1px solid #ae2b30;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
